body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 62px;
}

.sidebar-nav {
  width: var(--offcanvas-width) !important;
}

.sidebar-link {
  display: flex;
  align-items: center;
}
.sidebar-link .right-icon {
  display: inline-flex;
  transition: all ease 0.25s;
}

.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}

.offcanvas-header {
  color: white !important;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  display: none;
}

.offcanvas-header button {
  color: white !important;
  box-shadow: none !important;
}

.offcanvas-header button:focus {
  box-shadow: none !important;
}

.offcanvas {
  transition: none !important;
}



@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }
  .offcanvas-backdrop {
    display: none !important;
  }
  main {
    margin-left: var(--offcanvas-width);
  }
  .sidebar-nav {
    transform: none;
    visibility: visible !important;
    top: var(--topNavbarHeight) !important;
    height: calc(100% - var(--topNavbarHeight));
  }
}

@media (max-width: 992px) {
  .offcanvas-header {
    display: flex;
  }
  .offcanvas-header {
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .offcanvas-header button {
    color: white !important;
    box-shadow: none !important;
  }
  .offcanvas {
    transition: transform 0.3s ease-in-out !important;
  }
}
